#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

.loading-indicator {
  width: 400px;
  height: 400px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
